.add-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 40px;
}

.add-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.add-form .form-control {
    margin-bottom: 15px;
}

.add-form .form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-form .form-control input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px; /* Deixa o botão redondo */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-form .btn:hover {
    background-color: #0056b3;
}

.add-form .btn svg {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}
