.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('/public/MoacirLogo.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}
  
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
  
.input-field {
    position: relative;
    margin-bottom: 20px;
}
  
.input-field input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.input-field .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
  
.option-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.option-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}
  
.option-button .circle {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.option-button .circle.selected {
    background-color: #4caf50;
    border-color: #4caf50;
}
  
button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
    background-color: #45a049;
}
  
